<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
        <!-- add user avatar -->  
    </div>

    <div class="col-lg-6">
        <h4>User info</h4>
        <dl>
            <dt>Name</dt>
            <dd><%= @user['name'] %></dd>

            <!-- add user (more) info -->

        </dl>
    </div>
  </div>
</div>