/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 import require_tree .
 import require_self
 */
 
 @import "bootstrap";
 
 .index {

    img {
        display: block;
        width: 10%;
        margin: 20px auto 0 auto;
    }

    h1 {
        justify-content: center;
        display: flex;
        padding-top: 50px;
    }
    
}

.container {
    
     .rounded-circle{
         max-width: 350px;
         margin-bottom: 30px;
     }

     .row {
         margin-top: 50px;
     }

     .follow {
         margin-top: 10px;
     }

     .link {
         text-decoration: none;
         color:black;
         font-size: 2rem;
         font-weight: bold;
     }

     .num-repos,
     .follow span {
         color: #C0C0C0;
     }

     .num-repos {
        display: inline;
        margin-left: 5px;
        font-size: 24px;
     }

     .repos-title {
         font-size: 1.5rem;
     }

     .table-striped {
         margin-top: 20px;
     }

     .col-lg-4 {
         text-align: center;
     }
}
